{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Formset tests</title>
  <link rel="stylesheet" href="{% static 'easy_formset/easy_formset.css' %}">
</head>
<body>
  <h3>animal1</h3>
  {% with formset1 as formset %}
    <div id="{{ formset.prefix }}">
      {{ formset.management_form }}

      <template formset-empty-form>
        {{ formset.empty_form.as_p }}
        <a formset-form-delete href="#">Delete</a>
      </template>

      <div formset-forms>
        {% for form in formset.forms %}
          <div formset-form>
            {{ form.as_p }}
            <a formset-form-delete href="#">Delete</a>
          </div>
        {% endfor %}
      </div>

      <button formset-add>Add</button>
    </div>
  {% endwith %}

  <hr>

  <h3>animal2</h3>
  {% with formset2 as formset %}
    <div id="{{ formset.prefix }}">
      {{ formset.management_form }}

      <template formset-empty-form>
        {{ formset.empty_form.as_p }}
        <a formset-form-delete href="#">Delete</a>
      </template>

      <div formset-forms>
        {% for form in formset.forms %}
          <div formset-form>
            {{ form.as_p }}
            <a formset-form-delete href="#">Delete</a>
          </div>
        {% endfor %}
      </div>

      <button formset-add>Add</button>
    </div>
  {% endwith %}

  <hr>

  <h3>animal3</h3>
  {% with formset3 as formset %}
    <div id="{{ formset.prefix }}">
      {{ formset.management_form }}

      <template formset-empty-form>
        {{ formset.empty_form.as_p }}
        <a formset-form-delete href="#">Delete</a>
      </template>

      <div formset-forms>
        {% for form in formset.forms %}
          <div formset-form>
            {{ form.as_p }}
            <a formset-form-delete href="#">Delete</a>
          </div>
        {% endfor %}
      </div>

      <button formset-add>Add</button>
    </div>
  {% endwith %}

  <script src="{% static 'easy_formset/easy_formset.js' %}"></script>
  <script>
    const formset1 = new Formset("{{ formset1.prefix }}")
    const formset2 = new Formset("{{ formset2.prefix }}")
    const formset3 = new Formset("{{ formset3.prefix }}")
  </script>
</body>
</html>
