[formset-form] {
  position: relative;
  padding: 15px 5px;
  margin-bottom: 15px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 3px;
}

[formset-form-delete] {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  padding: 5px 8px;
  border: 1px solid #d73925;
  border-radius: 3px;
  background-color: #dd4b39;
}
