<div id="{{ formset.prefix }}" formset-is-nested>
  {{ formset.management_form }}
  <button formset-add>Add Food</button>
  <h5>{{ formset.prefix }}</h5>
  {{ formset.non_form_errors }}
  <template formset-empty-form>
    {% include "forms/food_form.html" with form=formset.empty_form %}
  </template>

  <hr>

  <div formset-forms>
    {% for form in formset.forms %}
      <div formset-form>
        {% include "forms/food_form.html" with form=form %}
      </div>
    {% endfor %}
  </div>
</div>
