<fieldset>
  <legend>Person</legend>

  <div class="row">
    <div class="fieldWrapper">
      {{ form.name.errors }}
      {{ form.name.label_tag }}
      {{ form.name }}
    </div>

    {{ form.id }}
    {{ form.DELETE }}

  </div>

  {% if form.addresses %}
    <fieldset>
      <legend>Address</legend>
      {% include 'formsets/address_formset.html' with formset=form.addresses %}
    </fieldset>
  {% endif %}

  <div class="row">
    <button formset-form-delete="{{ form.prefix }}">Delete</button>
  </div>
</fieldset>
