<fieldset>
  <legend>Person</legend>

  <div class="row">
    <div class="fieldWrapper">
      {{ form.name.errors }}
      {{ form.name.label_tag }}
      {{ form.name }}
    </div>

    {{ form.id }}
    {{ form.DELETE }}

    <div class="row">
      <button formset-form-delete>Delete</button>
    </div>
  </div>

  {% if form.addresses %}
    <fieldset>
      <legend>Address</legend>
      {% include 'formsets/address_formset.html' with formset=form.addresses %}
    </fieldset>
  {% endif %}
</fieldset>
